<section class="atlas-custom-section">
  <h3>{{localize "ATLAS.Theme.CustomThemes"}}</h3>
  {{#if customThemes.length}}
    <ul class="atlas-custom-list">
      {{#each customThemes as |c|}}
        <li>
          <span class="atlas-custom-name">{{c.name}}</span>
          <button type="button" data-action="editCustom" data-key="{{c.key}}"
            data-tooltip="{{localize "ATLAS.Common.Edit"}}"><i class="fas fa-pen"></i></button>
          <button type="button" data-action="exportCustom" data-key="{{c.key}}"
            data-tooltip="{{localize "ATLAS.Theme.Export"}}"><i class="fas fa-download"></i></button>
          <button type="button" data-action="deleteCustom" data-key="{{c.key}}"
            data-tooltip="{{localize "ATLAS.Common.Delete"}}"><i class="fas fa-trash"></i></button>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <div class="atlas-custom-create">
    <select name="basePreset">
      {{#each presetChoices as |p|}}
        <option value="{{p.key}}">{{p.name}}</option>
      {{/each}}
    </select>
    <button type="button" data-action="createCustom"><i class="fas fa-plus"></i>
      {{localize "ATLAS.Theme.NewCustom"}}</button>
    <button type="button" data-action="importCustom"><i class="fas fa-upload"></i>
      {{localize "ATLAS.Theme.Import"}}</button>
  </div>
</section>
